.bar {
    margin: 0 0.2em;
    margin-top: 0.4em;
    background-color: skyblue;
    border-bottom: 4px solid blueviolet;
    border-radius: 5px;
    min-width: 10px;
    display: flex;
    overflow: hidden;
}

.value {
    margin: 0.2em;
    display: block;
    font-size: calc(0.2rem + 1.0vw);
    min-width: 0px;
}