.bar-container {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 65vh;
}

.button {
    font-size: 1rem;
    background-color: skyblue;
    border: 2px solid blueviolet;
    margin: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: cornflowerblue;
}

.flex-container {
    display: flex;
    justify-content: center;
}