.bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 65vh;
}

.button {
    font-size: calc(5px + 1.5vmin);
    background-color: skyblue;
    border: 2px solid blueviolet;
    margin: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: cornflowerblue;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}